<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewData["Title"] - CuoreRosso</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="theme/layout/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="theme/layout/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/login.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div>Copyright (c) 2018 - OneClient - ClienteUno</div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="plugins/jquery.min.js"></script>
    <script src="theme/layout/js/materialize.js"></script>
    <script src="theme/layout/js/init.js"></script>

</body>
</html>
